Flask==3.0.0
flask-cors==5.0.0
openai==1.57.4
redis==5.2.0
requests==2.31.0
Werkzeug==3.0.1
blinker==1.9.0
Flask-Session==0.8.0
PyMuPDF==1.22.5
SpeechRecognition==3.13.0
azure-cognitiveservices-speech==1.41.1
pdf2image==1.17.0
pillow==11.1.0